#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100hv;
  }
  
  #app main {
    margin-left: 30px;
    height: 100hv;
  }
  
  @media (max-width: 1000px) {
    #app {
      flex-direction: column;
      height: 100hv;
    }
  
    #app main {
      margin-left: 0;
      margin-top: 30px;
      height: 100hv;
    }
  
    #app aside {
      width: 100hv; 
      height: 100hv;
    }
  }

  .teste{
    border-radius: 100%;
    border-color: white;
    border-width:5px;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.5s;
  }

  .teste:hover{
    border-color: #555555;
  }