aside {
    display: block;
    background: orangered;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}