main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

main ul li {
    background: whitesmoke;
    text-align: center;
    padding: 5px;
    height: 100px;
    width: 200px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    transition: background 0.5s;
}

main ul li:hover {
    background: green;
    color: white;
}

@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}